<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/postal"><span class="glyphicon glyphicon-home"></span> Postal Service</a>
            </li>
        </ul>
    </div>
</nav>