<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

        <div class="container">
            <h2>Math! :D</h2>
            <p id="resultOfEquation">
                <%= equation %> =
                    <%= result %>
            </p>
            <form action="math" method="get">
                Operand 1: <input type="text" id="op1" name="op1"><br> Operand 2: <input type="text" id="op2" name="op2"><br> Operator: <input type="text" id="operator" name="operator"><br>
                <input type="submit" value="Submit">
            </form>
            <button id="getJson">Get JSON</button>
        </div>
        <script>
            $("#getJson").click(function() {
                $.ajax({
                    url: "math_service",
                    data: {
                        op1: document.getElementById("op1").value,
                        op2: document.getElementById("op2").value,
                        operator: document.getElementById("operator").value,
                    },
                    success: function(result) {
                        document.getElementById("resultOfEquation").innerHTML = JSON.parse(result)
                    }
                });
            });
        </script>
</body>

</html>