<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header_postal.ejs %>
</head>

<body>

    <% include ../partials/nav_postal.ejs %>

        <div class="container">
            <p>
            </p>
            <form action="math" method="get">
                Operand 1: <input type="text" name="op1"><br> Operand 2: <input type="text" name="op2"><br> Operator: <input type="text" name="operator"><br>
                <input type="submit" value="Submit">
            </form>
        </div>

</body>

</html>