<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header_postal.ejs %>
</head>

<body>

    <% include ../partials/nav_postal.ejs %>

        <div class="container">
            <p>The total cost of your package will be: $
                <%= result %>
            </p>
        </div>

</body>

</html>